/* Nav Bar CSS */
body{padding-top: 62px;}

/* Header CSS */
html { 
  background: (http://629photography.com/dark-sky-wallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* Section CSS */



/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */


